<h3>User Edit Component</h3>
<div class="card text-center">
    <form (submit)=update()>
      <div class="card-header">
        Edit User
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-12">
  
            <div class="input-group">
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fa fa-user"></i></span>
                </div>
                <input type="text" class="form-control" name="first_name" [(ngModel)]="editUser.first_name" placeholder="nombre">
              </div>
  
  
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fa fa-user"></i></span>
                </div>
                <input type="text" class="form-control" name="last_name" [(ngModel)]="editUser.last_name" placeholder="apellido">
              </div>
  
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fa fa-envelope"></i></span>
                </div>
                <input type="text" class="form-control" name="email" [(ngModel)]="editUser.email" placeholder="em@il">
              </div>
  
            </div>
  
          </div>
        </div>
      </div>
      <div class="card-footer text-muted">
        <div class="col-md-12">
          <div class="text-right">
              <button  type="submit"  class="btn btn-warning"> Update</button>
              <button class="btn btn-danger" (click)="show = !show"><i class="fa fa-times"
                aria-hidden="true"></i></button>
          </div>
        </div>
      </div>
    </form>
  </div>

